@font-face {
  font-family: 'MiSans Regular';
  src: url("../font/MiSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'MiSans Bold';
  src: url("../font/MiSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Cascadia Code Regular';
  src: url("../font/CascadiaCode-Regular.ttf") format("truetype"); }
